////////////////////////base///////////////////////////////
/////////////////////////base///////////////////////////////
/////////////////////////base///////////////////////////////
/////////////////////////base///////////////////////////////
/////////////////////////base///////////////////////////////
/////////////////////////base///////////////////////////////
/////////////////////////base///////////////////////////////
/////////////////////////base///////////////////////////////

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1400px;
  margin: 0 auto;
}

.row-gutter {
  display: flex;
  /* dcac item tu dong nam ngang */
  flex-wrap: wrap;
  /* d  khi chieu ngang columns vuot qua row-> tu cuong hang*/
  margin-left: -4px;
  margin-right: -4px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
}

.row-gutter .col-gutter {
  padding-left: 4px;
  padding-right: 4px;
}

.row .col {
  padding-left: 0;
  padding-right: 0;
}

.M-0 {
  display: none;
}

.M-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.M-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.M-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.M-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.M-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.M-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.M-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.M-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.M-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.M-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.M-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.M-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.M-o-1 {
  margin-left: 8.33333%;
}

.M-o-2 {
  margin-left: 16.66667%;
}

.M-o-3 {
  margin-left: 25%;
}

.M-o-4 {
  margin-left: 33.333333%;
}

.M-o-5 {
  margin-left: 41.66667%;
}

.M-o-6 {
  margin-left: 50%;
}

.M-o-7 {
  margin-left: 58.33333%;
}

.M-o-8 {
  margin-left: 66.66667%;
}

.M-o-9 {
  margin-left: 75%;
}

.M-o-10 {
  margin-left: 83.33333%;
}

.M-o-11 {
  margin-left: 91.66667%;
}

/* Tablet - px low resolution */

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 664px;
  }
}

/* Tablet */

@media only screen and (min-width: 740px) {
  .row-gutter {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col-gutter {
    padding-left: 8px;
    padding-right: 8px;
  }
  .T-0 {
    display: none;
  }
  .T-1,
  .T-2,
  .T-3,
  .T-4,
  .T-5,
  .T-6,
  .T-7,
  .T-8,
  .T-9,
  .T-10,
  .T-11,
  .T-12 {
    display: block;
  }
  .T-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .T-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .T-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .T-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .T-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .T-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .T-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .T-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .T-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .T-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .T-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .T-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .T-o-1 {
    margin-left: 8.33333%;
  }
  .T-o-2 {
    margin-left: 16.66667%;
  }
  .T-o-3 {
    margin-left: 25%;
  }
  .T-o-4 {
    margin-left: 33.333333%;
  }
  .T-o-5 {
    margin-left: 41.66667%;
  }
  .T-o-6 {
    margin-left: 50%;
  }
  .T-o-7 {
    margin-left: 58.33333%;
  }
  .T-o-8 {
    margin-left: 66.66667%;
  }
  .T-o-9 {
    margin-left: 75%;
  }
  .T-o-10 {
    margin-left: 83.33333%;
  }
  .T-o-11 {
    margin-left: 91.66667%;
  }
}

/* Pc low > (>1113px)*/

@media only screen and (min-width: 1113px) {
  .row-gutter {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col-gutter {
    padding-left: 12px;
    padding-right: 12px;
  }
  .PC-0 {
    display: none;
  }
  .PC-1,
  .PC-2,
  .PC-3,
  .PC-4,
  .PC-5,
  .PC-6,
  .PC-7,
  .PC-8,
  .PC-9,
  .PC-10,
  .PC-11,
  .PC-12,
  .PC-20 {
    display: block;
  }
  .PC-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .PC-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .PC-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .PC-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .PC-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .PC-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .PC-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .PC-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .PC-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .PC-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .PC-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .PC-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .PC-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .PC-o-1 {
    margin-left: 8.33333%;
  }
  .PC-o-2 {
    margin-left: 16.66667%;
  }
  .PC-o-3 {
    margin-left: 25%;
  }
  .PC-o-4 {
    margin-left: 33.333333%;
  }
  .PC-o-5 {
    margin-left: 41.66667%;
  }
  .PC-o-6 {
    margin-left: 50%;
  }
  .PC-o-7 {
    margin-left: 58.33333%;
  }
  .PC-o-8 {
    margin-left: 66.66667%;
  }
  .PC-o-9 {
    margin-left: 75%;
  }
  .PC-o-10 {
    margin-left: 83.33333%;
  }
  .PC-o-11 {
    margin-left: 91.66667%;
  }
}

/* px low resolution -> 1039px kéo nhẹ là tự đổi*/
/* @media only screen and (min-width: 1024px) and (max-width: 1239px) { có thể để màn này */

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row-gutter {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col-gutter {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .PC-0 {
    display: none;
  }
  .wide .PC-1,
  .wide .PC-2,
  .wide .PC-3,
  .wide .PC-4,
  .wide .PC-5,
  .wide .PC-6,
  .wide .PC-7,
  .wide .PC-8,
  .wide .PC-9,
  .wide .PC-10,
  .wide .PC-11,
  .wide .PC-12 {
    display: block;
  }
  .wide .PC-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .PC-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .PC-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .PC-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .wide .PC-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .PC-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .PC-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .PC-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .PC-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .PC-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .PC-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .PC-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .PC-o-1 {
    margin-left: 8.33333%;
  }
  .wide .PC-o-2 {
    margin-left: 16.66667%;
  }
  .wide .PC-o-3 {
    margin-left: 25%;
  }
  .wide .PC-o-4 {
    margin-left: 33.333333%;
  }
  .wide .PC-o-5 {
    margin-left: 41.66667%;
  }
  .wide .PC-o-6 {
    margin-left: 50%;
  }
  .wide .PC-o-7 {
    margin-left: 58.33333%;
  }
  .wide .PC-o-8 {
    margin-left: 66.66667%;
  }
  .wide .PC-o-9 {
    margin-left: 75%;
  }
  .wide .PC-o-10 {
    margin-left: 83.33333%;
  }
  .wide .PC-o-11 {
    margin-left: 91.66667%;
  }
}

/* dung cho man hinh do phan giai thap */
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
//////////////////////CSS Du an dau tu/////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
///
///

.Continer {
  padding-top: 10rem;
  background-color: #f6f6f6;
}
.Continer__Introduce {
  padding-bottom: 5rem;
}
.Continer__Introduce--text {
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: justify;
  color: #1d1d1d;
}
.continerMain {
}
.continer__mainContent {
}
.continer__mainContent--title {
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: var(--Main-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  /* width: 37rem; */
  min-width: 100%;
  /* border-bottom:solid 2rem var(--Main-color) ; */
  padding-bottom: 2.2rem;
  position: relative;
}
.continer__mainContent--title::before {
  content: "";
  width: 37rem;
  height: 0.2rem;
  background-color: #cccccc;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.continer__mainContent--title::after {
  content: "";
  width: 17rem;
  height: 0.8rem;
  background-color: var(--Main-color);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
}
.continer__box {
  padding-top: 6rem;
  padding-bottom: 8rem;
  justify-content: space-between;
  margin: 0 3rem;
}
.continer__box--content {
  padding: 4rem 2.5rem 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  margin: 0 -3rem;
  margin-bottom: 6rem;
}
.BoxImg__continer {
  padding: 5rem 2.5rem 5.5rem 2.5rem;
  background-color: #ebebeb;
  margin-bottom: 2rem;
  position: relative;
}

.continer__box--img {
  width: 100%;
  transition: 0.3s;
}
.continer__box--text {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  color: #1d1d1d;
  font-weight: 4rem;
  text-align: center;
}
.continer__box--content:hover .BoxOverlay__img {
  display: flex;
  opacity: 1;
}
.continer__box--content:hover .continer__box--img {
  /* animation: scal linear .3s; */
  transform: scale(1.1);
}
.BoxOverlay__img {
  position: absolute;
  background-color: rgba(32, 32, 32, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  animation: opacity linear 0.3s;
}
/* @keyframes scal{
    from{
        transform: scale(1);
    }
    to{
        
    }
} */
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.learnMore__Infomation {
  font-weight: 600;
  font-size: 2rem;
  width: 21rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border: solid 0.1rem var(--white-color);
  text-transform: uppercase;
}

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///

/* PC */
@media only screen and (min-width: 1224px) {
}

@media only screen and (max-width: 1239px) {
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .Continer {
    padding: 5rem 0.8rem 5rem 0.8rem;
  }
  .continer__mainContent--title {
    font-size: 3rem;
  }
  .continer__box {
    padding-top: 6rem;
    padding-bottom: 0rem;
    justify-content: space-between;
    margin: 0 1rem;
  }
  .continer__box--content {
    padding: 3rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    margin: 0 -1rem;
    margin-bottom: 2rem;
  }
  .BoxImg__continer {
    width: 100%;
  }
}

@media only screen and (max-width: 740px) {
  .Continer {
    padding: 5rem 0.8rem 5rem 0.8rem;
  }
  .continer__mainContent--title {
    font-size: 3rem;
  }
  .continer__box {
    padding-top: 6rem;
    padding-bottom: 0rem;
    justify-content: space-between;
    margin: 0 0rem;
  }
  .continer__box--content {
    padding: 3rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    margin: 0 0rem;
    margin-bottom: 2rem;
  }
  .BoxImg__continer {
    width: 100%;
  }
}
